.menu{
	-fx-background-color: #616161;
}
.btn-delete{
	-fx-background-color: #B71C1C;
	-fx-text-fill: #ffffff;
}
.btn-desactive{
	-fx-background-color: #01579B;
	-fx-text-fill: #ffffff;
}
.btn{
	-fx-background-color:#474747;
	-fx-text-fill:  #fff;
}

.backround-pane{
	-fx-background-color:#ADADAD;
}
.txt{
	-fx-text-fill:#ffffff;
}
.jfx-hamburger{
	-fx-padding: 10.0;
	-fx-spacing: 4px;
	-fx-cursor: hand;
	
}

.jfx-hamburger StackPane{
	-fx-pref-width: 30px;
	-fx-pref-height: 4px;
	-fx-background-color: #FFF ;
	-fx-background-radius: 5px;	
}
.jfx-drawer-overlay-pane {
	-fx-background-color:  transparent ;
}

.jfx-drawer-side-pane {
	-fx-background-color:transparent ;	
}
.tableview{
	-fx-font-family: "Arial";
    -fx-font-size: 10.0px;
    -fx-base: #ADADAD;
    -fx-background: #ADADAD;
    -fx-focus-color: #fff;
    -fx-control-inner-background: #ADADAD;
    -fx-text-background-color: #fff;
    -fx-inner-border: linear-gradient(to bottom, derive(-fx-color,70.19354838709677%) 0%, derive(-fx-color,29.200000000000003%) 100%);
    -fx-body-color: linear-gradient( to bottom, derive(-fx-color, 34.0%) 0%, derive(-fx-color, -18.0%) 100%);
}

.colums{
	-fx-base-text:#000;
	-fx-background-color: #616161 ;
	-fx-border-color: #616161;
	-fx-text-fill:  #fff;
	-fx-font-family: "Arial";
	-fx-font-size: 12pt;
	-fx-alignment:center;
	-fx-control-inner-background: #000;
}
.colums:hover{
	-fx-text-fill: #ffffff;
	-fx-background-color: rgb(211,215,207);
}
.colums:focused:selected{
	-fx-text-fill: #ffffff;
	-fx-background-color: black;
}
.jfx-text-field, .jfx-password-field{
	-fx-background-color: transparent ;
	-fx-text-fill: #252525;
    -fx-font-weight: BOLD;
    -fx-prompt-text-fill: #616161;
    -jfx-focus-color: #616161;
    -jfx-unfocus-color: #616161;  
}

