.menu{
	-fx-background-color: #2196F3;
}
.btn-delete{
	-fx-background-color: #ff003a;
	-fx-text-fill: #ffffff;
}
.btn-desactive{
	-fx-background-color: rgb(36,66,135);
	-fx-text-fill: #ffffff;
}
.btn{
	-fx-background-color:#ffffff;
	-fx-text-fill:  #2196F3;
}

.backround-pane{
	-fx-background-color:#fff;
	/*-fx-background-color: #ffc600;*/
}
.txt{
	-fx-text-fill:#ffffff;
}
.jfx-hamburger{
	-fx-padding: 10.0;
	-fx-spacing: 4px;
	-fx-cursor: hand;
	
}

.jfx-hamburger StackPane{
	-fx-pref-width: 30px;
	-fx-pref-height: 4px;
	-fx-background-color: #FFF ;
	-fx-background-radius: 5px;	
}
.jfx-drawer-overlay-pane {
	-fx-background-color:  transparent ;
}

.jfx-drawer-side-pane {
	-fx-background-color:transparent ;	
}
.tableview{
	-fx-font-family: "Arial";
    -fx-font-size: 13.0px;
    -fx-base: rgb(255,255,255);
    -fx-background: #ffffff;
    -fx-focus-color: #fff;
    -fx-control-inner-background: #fff;
    -fx-text-background-color: rgb(36,66,135);
    -fx-inner-border: linear-gradient(to bottom, derive(-fx-color,70.19354838709677%) 0%, derive(-fx-color,29.200000000000003%) 100%);
    -fx-body-color: linear-gradient( to bottom, derive(-fx-color, 34.0%) 0%, derive(-fx-color, -18.0%) 100%);
}

.colums{
	-fx-base-text:#ffffff;
	-fx-background-color: rgb(255,255,255) ;
	-fx-border-color: rgb(211,215,207);
	-fx-text-fill: rgb(36,66,135);
	-fx-font-family: "Arial";
	-fx-font-size: 12pt;
	-fx-alignment:center;
	-fx-control-inner-background:rgb(36,66,135);
}
.colums:hover{
	-fx-text-fill: #ffffff;
	-fx-background-color: rgb(211,215,207);
}
.colums:focused:selected{
	-fx-text-fill: #ffffff;
	-fx-background-color: black;
}